.App {
  text-align: center;
}

/** Sidenav/topnav */
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: 200px;
  background-color: #555;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li {
  display: block;
  color: white;
  padding: 6px 10px;
  text-decoration: none;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: 55px;
    position: relative;
  }

  ul.sidenav li {
    float: left;
    padding: auto;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  ul.sidenav {
    height: auto;
  }

  ul.sidenav li {
    text-align: center;
    float: none;
  }
}

/** Dark mode toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #282c34;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

#emoji {
  font-size: 20px;
}

/** Button */
#display-button {
  background-color: #282c34;
  border: 2px solid #006064;
  border-radius: 10px;
  color: white;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.3s;
}

#display-button:hover {
  background-color: #006064;
  color: white;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/** Raw data */
#rawData {
  margin-top: 10px;
  width: 90%;
  height: 500px;
  font-size: 12px;
  display: none;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  border-left: 5px solid #00838f;
  background-color: #006064;
  color: white;
}

/** Chart wrappers */
.chart-wrapper {
  padding: 2%;
  display: inline-block;
}

.main.chart-wrapper {
  width: 96%;
  height: 400px;
}

.sub.chart-wrapper {
  width: 29%;
  height: 250px;
}

@media (max-width: 700px) {
  .sub.chart-wrapper {
    width: 80%;
  }
}
